.innerpeace .dotscustom {
  list-style: none;
  position: absolute;
  top: 500px;
  margin-left: -10%;
  display: flex !important;
  column-gap: 28px;
}

.grwrp{
  background-color: #f9f1e7;
}

@media (max-width: 1509px) {
  .containerBeau {
    padding-top: 60px;
  }
}

@media (max-width: 1383px) {
  .containerBeau {
    flex-wrap: wrap;
    row-gap: 35px;
    align-items: center;
  }

  .mncotn {
    margin-right: 0px !important;
    text-align: center;
  }
  .containerBeau .mainbox,
  .containerBeau .arrow,
  .containerBeau .dotscustom {
    display: none !important;
  }
}

@media (max-width: 561px) {
  .innerpeace {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
  }
}
